@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
main {
    padding-top: 5vh;
    overflow: hidden;
}
.svg-icon.search-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  stroke-width: 2px;
}
.svg-icon.search-icon:focus .search-path, .svg-icon.search-icon:hover .search-path {
  stroke: #299ecc;
}
.svg-icon.search-icon:active .search-path {
  stroke: #111516;
  stroke-width: 2px;
}

.searchBar {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 0;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.searchBar input{
  width: 30vw;
  height: 2vh;
  color: #343434;
  padding: 11px 15px;
  border: 1px solid #ccc;
  border-right: none;
  outline: none;
  margin: 0;
  border-radius: 20px 0px 0px 20px;
}
.searchBar input:focus{
  border: 1px solid #ccc !important;
  border-right: none;
}

.searchBar button {
  background-color: #f7f7f7;
  margin: 0;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 0px 20px 20px 0px;
}

.post-container{
  padding: 10px 15px;
}
.post {
  border: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: #bbb 1px 2px 10px;
}

.post-title{
  font-family: 'Tilt Neon', sans-serif;
  font-size: 1.8rem;
}
.post small{
  display: block;
  font-size: 0.9rem;
  color: #434343;
}

.post-author{
  margin-top: 10px;
}
.post-creation{
  margin-bottom: 5px;
}

.post-view{
  font-size: 1.1rem;
  text-decoration: none;
  color: #343434;
}
.post-view:hover{
  text-decoration: underline;
  font-weight: bold;
}

.nav-buttons{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
  gap: 10px;
}

.nav-buttons button{
  padding: 10px 15px;
  font-size: 1.1rem;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 30px;
}
